@import '../../styles/variables.scss';

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.that-day {
    padding: 1rem;
    width:350px ;
    border: 1px solid black;
    border-radius: 12px;
}

.extra-details {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 12px;
   
}

.extra-details > * {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex: 1;

    ul {
        margin-top: 40px;
    }
} 

input {
    cursor: pointer;
    width: 100%;              
    padding: 0.5rem;          
    font-size: 1rem;   
    font-weight: bold;     
    border:none; 
    border-radius: 8px;      
    background-color: $fourth-color;
    color: white;
  }

  
//   ::-webkit-datetime-edit
//   ::-webkit-datetime-edit-fields-wrapper
//   ::-webkit-datetime-edit-text
  
//   ::-webkit-datetime-edit-year-field
//   ::-webkit-datetime-edit-month-field
//   ::-webkit-datetime-edit-week-field
//   ::-webkit-datetime-edit-day-field
//   ::-webkit-datetime-edit-hour-field
//   ::-webkit-datetime-edit-minute-field
//   ::-webkit-datetime-edit-second-field
//   ::-webkit-datetime-edit-millisecond-field
//   ::-webkit-datetime-edit-ampm-field
  
//   ::-webkit-inner-spin-button
//   ::-webkit-calendar-picker-indicator {}

/* Target the input date field styles */
input[type="date"] {
    appearance: none; /* Remove default browser styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Hide the year part of the date picker */
  input[type="date"]::-webkit-datetime-edit-year-field {
    display: none;
  }
  
  /* Hide unnecessary separators */
  input[type="date"]::-webkit-datetime-edit-text {
    color: white; /* Hide separator dashes */
  }
  
  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field {
    color: rgb(255, 255, 255); /* Keep day and month visible */
  }
  