// colors
$primary-color: #ECDFCC;
$secondary-color: #FCFAEE;
$third-color: #A5B68D;
$fourth-color: #DA8359;


// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font: "Montserrat", sans-serif;


